img {
    width: 800px;
    height: auto;
}

ul > li {
    color: red;
    border: 1px solid black;
}

ul a:link {
    color: rgb(168, 168, 25);
}

ul > li:first-child {
    color: green;
    background-color: rgb(201, 183, 183);
}

ul > li:not(:first-child) {
    color:  orange;
    background-color: beige;
}

/* First p after h1 */
h1 + p {
    color: blue;
}

/* All p after h1 */
h1 ~ p {
    color: blue;
}

a::before {
    content: '1\F604';
}

a::after {
    content:'1\F605' ;
}