body {  
    background-color:  lightgray;
}

.aueb-header {
    /* color: white; */
    background-color: red;

}

/* #auebheader {
 για να καλέσουμε το id χρησιμοποιούμε #
} */

.cf-header {
    /* color: white; */
    background-color: green;
}

.aueb-text {
    /* color: white; */
    background-color: blue;
}

.fg-light {
    /* Έχουμε δώσει ένα κοινό class name γιατί είχαμε πολλές κλάσεις που είχαμε το ίδιο attribute */
    color: white;
}
