body {
    background-color:  lightgray;

}

.aueb-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: antiquewhite;

}

.big-primary {
    background-color: blue;

}

.icon-small {
    width: 150;
    height: auto;

}

.course-wrapper {
    background-color: aqua;
}

.course-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: beige;
}

.container {
    width: 80%;
    border: 1px solid black;

}

.container-fluid {
    width: 90%;
    border: 1px solid black ;
}